.DS_Store
dump.rdb
target
.settings
.classpath
.project
.idea
*.iml
MediaFiles
logs
*LocalTest*
*localTest*
*localtest*
*.swo
*.swp
*.iws
*.ipr
state
/data
*.factorypath
**/.apt_generated/
.springBeans
